@import "../../assets/styles/common.scss";

.site-layout__main{
    padding-left:300px;
    @include MQ($breakpoint-md){
        padding:0;
    }
}

.toggle-button{
    background: none;
    border:none;
    font-size:2rem;
    padding:10px;
    cursor: pointer;
    display:none;
    z-index:9999;
    position: fixed;
    outline: none;
    @include MQ($breakpoint-md){
        display:block;
    }
}
.header{
    position: fixed;
    width:100%;
    background: #fff;
    min-height: 70px;
    z-index: 99;
    width: calc(100% - 300px);
    @include MQ($breakpoint-md){
        width:100%;
    }
    .header-panel{
        position: relative;
    }
    
    .customize-button{
        padding:10px 20px;
        font-weight:500;
        font-size:0.8rem;
        margin:10px;
        letter-spacing: 0.2rem;
        border:1px solid #ddd;
        cursor: pointer;
        color:#000;
    }
}
.section{
    min-height: 200px;
    .section-panel{
        padding:100px 20px;
        max-width: 1100px;
        margin: 0 auto;
        @include MQ($breakpoint-md){
            padding:10px 15px;
        }
    }
    .heading, .sub-heading{
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 3rem;
        color:#000;
   }
   .heading{
       color:#000;
       padding:5px 0;
   }
   .sub-heading{
       padding:20px 0;
       @include MQ($breakpoint-md){
            font-size:1.6rem;
            line-height: 2.5rem;
            font-weight: 600;
            font-family: $primary-font-family
        }
   }
   .slant-text{
       font-size:0.8rem;
       color:#000;
       font-style: italic;
       letter-spacing: 0.2rem;
       font-weight: 300;
       opacity: 0.5;
       a{
            color:#000;
       }
   }
   .text{
       padding:30px 0;
       letter-spacing: 0.03rem;
   }
}
.home-section{
    padding-top:70px;
}
.about-section{
    .text{
        font-size:1.1rem;
        line-height: 2rem;
    }
}
.skills-section{
    .skill-lists{
        padding-top:30px;
        li{
            display: inline-block;
            margin:20px 10px;
            letter-spacing: 0.03rem;
            background: #f4f4f4;
            font-size:1.2rem;
            padding:20px 30px;
        }
    }
}

.my-work-section{
    .my-work-container{
        padding-top:30px;
    }
    .card{
        box-sizing: border-box;
        border:1px solid #f4f4f4;
        margin:20px 10px;
        background: #f4f4f4;
        .title{
            padding:10px 0;
        }
        .description{
            padding:3px 0;
            font-size:1rem;
            letter-spacing: 0.03rem;
            line-height: 1.6rem;
        }
    }
    .card-panel{
        padding:20px;
    }
}

.contact-section{
    .contact-lists{
        padding-top:30px;
        li {
            display: inline-block;
            a{
                padding:10px 20px;
                display:inline-block;
                margin:10px;
                border:1px solid #ddd;
                transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
                border-radius:50px;
                &:hover{
                    background:#000;
                    border:1px solid #000;
                    color:#fff;
                    .uil{
                        color:#fff;
                    }
                }
            }
        }
    }
}
.footer{
    padding: 20px;
    font-size:0.8rem;
}