$bg-color:#f5f7fa;
$secondary-color:#ec2e87;
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #ec2e87;
$light-pink:#f8abcf;
$red: #dc3545;
$light-red: #faaab2;
$orange: #fd7e14;
$light-orange: #fdc89c;
$yellow: #ffc107;
$green: #28a745;
$light-green: #8ffca8;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$success: #22cf4a;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$font-family-monserrat: 'Montserrat', sans-serif;
$font-family-segoe: "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$primary-color:#000;
$primary-font-family: "Raleway", Arial, Tahoma, sans-serif;